@charset "UTF-8";

@media print{
    body{
        font-family: 'Courier New', Courier, monospace;
    }
    header {
        display: none;
    }
    main::after{
        content: 'Desenvolvido por Pablo Mendonça costa';
    }
}

@media screen and (min-width:768px) and (max-width:992px){

     .menu h1{
        margin-right:100px ;
   }
     #pesquisa{
        margin-right: 100px;
        width: 40%;
    }
    .menu > a{
       margin-right:50px;
    }
  
    #prodt{
        display: none;
        background-color: wheat;
        width: 250px;
        right: 8%;
    }
   .btn-compra{
        margin-bottom: 5px;
    }
 
   
    #Opfilter{
        display: none;
        position: absolute;
        width: 200px;
    }
     #valor{
        width: 200px;
    }

      .Aprencs-dens > h1{
        width: 350px;
        margin-right: 50px;
    }
   .Att{
    margin-right: 100px;
   }
   .Att >h1{
    font-size: 1.5em;
   }
   .Att >a {
    font-size: 1.0em;
   }
   .Serviço{
    margin-right: 100px;
   }
   .Serviço > h1{
    font-size: 1.5em;
   }
   .Serviço > a{
    font-size: 1.0em;
   }

   
}
@media screen and (min-width:992px) {
    .menu h1{
        margin-right:100px ;
   }
    #pesquisa{
        margin-right: 100px;
        width: 40%;
    }
    .menu > a{
        justify-content: right;
        margin-right:100px;
    }
    #prodt{
        display: none;
        background-color: wheat;
        width: 250px;
        right: 8%;
    }
     .btn-compra{
        margin-bottom: 5px;
    }

    #Opfilter{
        display: none;
        width: 250px;
        background-color: darkgray;
    }
   
    #valor{
        width:200px;
    }
    .Aprencs-dens > h1{
        width: 350px;
        margin-right: 50px;
    }

    .Att{
       margin-right: 250px;
    }
    .Att > h1{
        font-size: 1.5em;
    }
    .Att > a{
        font-size: 1.0em;
    }
    .Serviço{
        margin-right: 250px;
    }
    .Serviço > h1{
        font-size: 1.5em;
    }
    .Serviço > a{
        font-size: 1.0em;
    }
  
}  