@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Concert+One & display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top,#bf3a308b ,#f207328b );
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Concert One', cursiva;
    
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

 .login{
    position: absolute;
    background: linear-gradient(to top, #24acac,#24acacbf,#24acac99) ;
    height: 450px;
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transition: width .3s , heigth .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section > .imagen{
    display: block;
    background-image: url(../imagens/tela-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}
.email{
    display: flex;
    position: relative;
    background-color:#f207322c;
    border-radius: 2px solid #f207322c;
    width: 100%;
    height:40px;
    border-radius:8px ;
    margin: 5px 0;
}
.email > input:focus-within{
    background-color: white;
}
.email   span{
    color: white;
    font-size: 2em;
    padding: 5px;
}
.email   input{
    position: absolute;
    background-color: #24acac;
    font-size: 1em;
    top:25%;
    left: 12%;
    width: 85%;
    height: 50%;
    border: 0;
    border-radius: 8px;
    padding: 4px;
}
.login label{
    display: none;
}